* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Roboto, "Trebuchet MS", Helvetica, Arial, sans-serif;
}

body {
    background-color: #ECF1F9;
}

.content {
    width: 805px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    background-color: white;
}

header {
    background-color: #6F98E8;
    height: 45px;
}

.nav {
    padding-left: 10px;
    height: 100%;
    width: 100%;
}

.nav li{ 
    padding-top: 13px;
    padding-left: 35px;
    padding-right: 35px;
    height: 100%;
    font-size: 18px;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    float: left;
}

.notselected:hover {
    background-color: #98b2E3;
}

.nav a {
    color: aliceblue;
}

#selected {
    background-color: white;
}

#selected a{
    color: #6F98E8;
}

.top{
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 35px;
    height: 360px;
    font-size: 17px;
}

#title {
    color: #476DB6;
}

#nyc {
    width: 65%;
    height: auto;
    margin-left: 5%;
}

.icon{
    width: 17px;
    height: 17px;
    vertical-align: bottom;
    margin-bottom: 2px;
}
#button-container {
    padding-left: 13px;
}

#button-container a{
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #F7F9FC;
    display: inline-block;
    width: 170px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 25px;
    color: #476DB6;
    border-color: #CCD8EC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#skills{
    vertical-align: top;
    display: inline-block;
    margin-top: 40px;
    margin-left: 23px;
    height: 320px;
    width: 370px;
    border-style: solid;
    border-radius: 10px;
    border-color: #CCD8EC;
    border-width: 1.5px;
    padding-left: 15px;
    padding-top:  2px;
    padding-right: 15px;
    background: linear-gradient(to bottom, #B7C9ED 0%, #B7C9ED 6%, #ECF1F9 6%, #ECF1F9 100%);
}

#newscontainer{
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    margin-top: 40px;
    height: 320px;
    width: 370px;
    border-radius: 10px;
    border-width:1.5px; 
    border-style: solid;
    border-color: #CCD8EC;
    overflow: hidden;
}

#news{
    height: 320px;
    width: 370px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#skills p {
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
}
#skills ul{
    font-size: 13px;
}

#skills ul li strong{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#skills ul li{
    list-style-position: inside;
    list-style-type: circle;
    padding-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aboutme p{
    font-size: 16px;
    margin-top: 30px;
    margin-left: 23px;
    margin-right: 23px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aboutme p strong {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ema {
    font-style: italic;
    color: #4666A5;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.addr {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ack{
    font-style: italic;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 60px;
    font-size: 10px;
    text-align: center;
}

.worktitle {
    font-size: 20px;
    padding-left: 23px;
    padding-top: 10px;
}

#workintro {
    padding-left: 23px;
    padding-bottom: 10px;
    color: #D7DBE1;
}

.workcontent{
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.workcontent li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: circle;
    list-style-position: inside;
}

.workcontent a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #476DB6;
}

.workcontent a:hover {
    text-decoration: underline;
}

.worktitles{
    background-color: #B7C9ED;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 8px;
    font-size: 17px;
}

.coursetitles{
    background-color: #B7C9ED;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
}
.coursetitles p{
    display: inline-block;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 8px;
    font-size: 17px;
}

.button {
    background: none;
    border: none;
    float: right;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.course{
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.courselist li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: circle;
    list-style-position: inside;
}

#course2, #course3{
    display: none;
}

.course p {
    margin-bottom: 5px;
}
.course p strong{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#misc {
    padding-top: 8px;
    padding-left: 23px;
    padding-right: 23px;
}

#misc p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#misc a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #476DB6;
}

#misc a:hover {
    text-decoration: underline;
}

#maclist {
    margin-top: 0.15cm;
}

.video iframe{
    padding-top: 20px;
    margin-left: 50px;
}